<div id="w-node-ed5a3b26-04a6-4901-10b6-5e4206cce2c1-568c254c" class="collections_list-wrapper hide w-dyn-list"><div role="list" class="collections_grid w-dyn-items">{% for collection in collections %}    <div li-for="collection in collections" role="listitem" class="collections_list-item w-dyn-item">
                                    
                            <a li-object:href="collection.url" href="{{ collection.url }}" class="collections_item w-inline-block"><div class="collections_title"><h2 li-object="collection.title" class="heading-style-h3">{{ collection.title }}</h2></div></a>
                            
                        </div>
{% endfor %}</div><div class="hide w-dyn-empty"><div>No items found.</div></div></div><div data-current="Tab 2" data-easing="ease" data-duration-in="300" data-duration-out="100" class="collection-tabs_wrapper w-tabs"><div class="collections-tab w-tab-menu"><a data-w-tab="Tab 1" class="filter-button w-inline-block w-tab-link"><div li-object="collection.title">{{ collection.title }}</div><div class="filters-icon w-embed"><svg width="100%" height="100%" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_64_1413" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="25" height="25"><rect x="0.5" y="0.0864258" width="24" height="24" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_64_1413)"><path d="M11.75 20.8364V15.3364H13.25V17.3364H21.25V18.8364H13.25V20.8364H11.75ZM3.75 18.8364V17.3364H9.25V18.8364H3.75ZM7.75 14.8364V12.8364H3.75V11.3364H7.75V9.33643H9.25V14.8364H7.75ZM11.75 12.8364V11.3364H21.25V12.8364H11.75ZM15.75 8.83643V3.33643H17.25V5.33643H21.25V6.83643H17.25V8.83643H15.75ZM3.75 6.83643V5.33643H13.25V6.83643H3.75Z" fill="#1C1B1F"></path></g></svg></div></a><a data-w-tab="Tab 2" id="all-collection_btn" class="collection-name_tab-button w-inline-block w-tab-link w--current"><div li-object="collection.title">{{ collection.title }}</div></a><a data-w-tab="Tab 3" id="shirts-collection_btn" class="collection-name_tab-button w-inline-block w-tab-link"><div li-object="collection.title">{{ collection.title }}</div></a><a data-w-tab="Tab 4" id="suits-collection_btn" class="collection-name_tab-button w-inline-block w-tab-link"><div li-object="collection.title">{{ collection.title }}</div></a><a data-w-tab="Tab 5" id="trousers-collection_btn" class="collection-name_tab-button w-inline-block w-tab-link"><div li-object="collection.title">{{ collection.title }}</div></a><a data-w-tab="Tab 6" id="vests-collection_btn" class="collection-name_tab-button w-inline-block w-tab-link"><div li-object="collection.title">{{ collection.title }}</div></a></div><div class="w-tab-content"><div data-w-tab="Tab 1" class="w-tab-pane"><div class="filter_product-list-wrapper w-dyn-list"><div role="list" class="filter_product-list w-dyn-items">{% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div>{% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty w-dyn-empty">
    <div class="heading-style-h6">No results found.</div><div class="spacer-xxsmall"></div><div>There are no results with this criteria. Try changing your search.</div>    </div>
{% endif %}</div></div><div data-w-tab="Tab 2" class="w-tab-pane w--tab-active"><div class="filter_product-list-wrapper w-dyn-list"><div role="list" class="filter_product-list w-dyn-items">{% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div>{% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty w-dyn-empty">
    <div class="heading-style-h6">No results found.</div><div class="spacer-xxsmall"></div><div>There are no results with this criteria. Try changing your search.</div>    </div>
{% endif %}</div></div><div data-w-tab="Tab 3" class="w-tab-pane"><div class="filter_product-list-wrapper w-dyn-list"><div role="list" class="filter_product-list w-dyn-items">{% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div>{% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty w-dyn-empty">
    <div class="heading-style-h6">No results found.</div><div class="spacer-xxsmall"></div><div>There are no results with this criteria. Try changing your search.</div>    </div>
{% endif %}</div></div><div data-w-tab="Tab 4" class="w-tab-pane"><div class="filter_product-list-wrapper w-dyn-list"><div role="list" class="filter_product-list w-dyn-items">{% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div>{% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty w-dyn-empty">
    <div class="heading-style-h6">No results found.</div><div class="spacer-xxsmall"></div><div>There are no results with this criteria. Try changing your search.</div>    </div>
{% endif %}</div></div><div data-w-tab="Tab 5" class="w-tab-pane"><div class="filter_product-list-wrapper w-dyn-list"><div role="list" class="filter_product-list w-dyn-items">{% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div>{% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty w-dyn-empty">
    <div class="heading-style-h6">No results found.</div><div class="spacer-xxsmall"></div><div>There are no results with this criteria. Try changing your search.</div>    </div>
{% endif %}</div></div><div data-w-tab="Tab 6" class="w-tab-pane"><div class="filter_product-list-wrapper w-dyn-list"><div role="list" class="filter_product-list w-dyn-items">{% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div>{% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty w-dyn-empty">
    <div class="heading-style-h6">No results found.</div><div class="spacer-xxsmall"></div><div>There are no results with this criteria. Try changing your search.</div>    </div>
{% endif %}</div></div></div></div> {% schema %} {"tag":"section","name":"Category Collection","class":"section_collections","presets":[{"name":"Category Collection","category":"Liquify"}]} {% endschema %}