<div class="experience-wrapper-left"><div class="padding-global"><img src="{{ section.settings.image_experience_image | img_url: 'master' }}" loading="lazy" alt="{{ section.settings.image_experience_image.alt }}" class="experience-image">
</div></div><div id="w-node-b1767b5e-5b2c-e764-acea-8a0044caa54e-21cae01c" class="experience-wrapper-right"><div id="w-node-ce1c11f1-fc0d-1747-9ee9-24b0fec8a973-21cae01c" class="experience-info-wrapper"><div class="experience-info"><div class="experience-info-text_wrapper"><div class="experience-text_wrapper"><div class="experience-number-badge">
{{ section.settings.text_experience_point_one_number }}
</div>
<div class="experience-heading-text"><h3 class="heading-style-h4">
{{ section.settings.text_experience_point_one_heading }}
</h3>
<div>
{{ section.settings.text_experience_point_one_text }}
</div>
</div></div></div><div class="experience-info-text_wrapper"><div class="experience-text_wrapper"><div class="experience-number-badge">
{{ section.settings.text_experience_point_two_number }}
</div>
<div class="experience-heading-text"><h3 class="heading-style-h4">
{{ section.settings.text_experience_point_two_heading }}
</h3>
<div>
{{ section.settings.text_experience_point_two_text }}
</div>
</div></div></div><div class="experience-info-text_wrapper"><div class="experience-text_wrapper"><div class="experience-number-badge">
{{ section.settings.text_experience_point_third_number }}
</div>
<div class="experience-heading-text"><h3 class="heading-style-h4">
{{ section.settings.text_experience_point_third_heading }}
</h3>
<div>
{{ section.settings.text_experience_point_third_text }}
</div>
</div></div></div><div class="experience-btn" href="{{ section.settings.url_experience_button_link }}"> <div class="experience-btn" href="{{ section.settings.url_experience_button_link }}"><div class="text-size-medium text-color-white">{{ section.settings.text_experience_button_text }}</div></div> </div>
</div></div></div> {% schema %} {"tag":"div","name":"Experience","class":"section_experience","settings":[{"id":"image_experience_image","type":"image_picker","label":"Experience Image"},{"id":"text_experience_point_one_number","type":"text","label":"Experience Point One Number","default":"4"},{"id":"text_experience_point_one_heading","type":"text","label":"Experience Point One Heading","default":"Attention to Detail"},{"id":"text_experience_point_one_text","type":"text","label":"Experience Point One Text","default":"the art of attire. We epitomize the ethos of old-money style, weaving a narrative of understated class and an during refinement into every garment."},{"id":"text_experience_point_two_number","type":"text","label":"Experience Point Two Number","default":"5"},{"id":"text_experience_point_two_heading","type":"text","label":"Experience Point Two Heading","default":"Your Style, Your Way"},{"id":"text_experience_point_two_text","type":"text","label":"Experience Point Two Text","default":"the art of attire. We epitomize the ethos of old-money style, weaving a narrative of understated class and an during refinement into every garment."},{"id":"text_experience_point_third_number","type":"text","label":"Experience Point Third Number","default":"6"},{"id":"text_experience_point_third_heading","type":"text","label":"Experience Point Third Heading","default":"Expert Craftsmanship"},{"id":"text_experience_point_third_text","type":"text","label":"Experience Point Third Text","default":"the art of attire. We epitomize the ethos of old-money style, weaving a narrative of understated class and an during refinement into every garment."},{"id":"url_experience_button_link","type":"url","label":"Experience Button Link"},{"id":"text_experience_button_text","type":"text","label":"Experience Button Text","default":"View All"}],"presets":[{"name":"Experience","category":"Liquify","blocks":[]}]} {% endschema %}